{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block body_content %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">ABLS</a>
          <div class="nav-collapse">
            <!--<ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>-->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>ABLS Dashboard</h1>
        <p>A summary of audit information will be displayed here when logged in.</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span12">
          <h2>Submit Log</h2>
           <p>Log submission form.</p>
        </div>
        <div class="span12">
          <h2>Log Query</h2>
           <p>Log query form.</p>
        </div>
        <div class="span12">
          <h2>Submit Audit Task</h2>
           <p>Audit task submission form.</p>
        </div>
      </div>

      <hr>

      <footer>
      <p>&copy; Company 2012 - and <i class="icon-camera-retro"></i> FontAwesome is supported as well!</p>
      </footer>

    </div> <!-- /container -->
{% endblock %}